/*common*/
.game_space {
	display: inline;
	width: 600px;
	height: 1100px;
}
.field {
	float: left;
}
.player_field, .computer_field {
	width: 422px;
	height: 422px;
	float: left;
	margin: 10px;
	border: 2px dashed red;
}
.water {
	background: url(../images/water.gif) no-repeat center center;
	background-size: contain;
}
.dead {
	background: url(../images/fire.gif) no-repeat center center;
	background-size: contain;
}
.injured {

}
.missed {
	background: url(../images/missed.jpg) no-repeat center center;
	background-size: contain;
}

/*player*/
.player_field .ship {
	background: url(../images/ship.png) no-repeat center center;
	background-size: contain;
}
.player_field .close {
	background: url(../images/water.gif) no-repeat center center;
	background-size: contain;
	opacity: 0.7;
}

/*computer*/
.computer_field .ship{
	background: url(../images/ship.png) no-repeat center center;
	background-size: contain;
}
.computer_field .close {
	background: url(../images/water.gif) no-repeat center center;
	background-size: contain;
	opacity: 0.7;
}



.player_field div, .computer_field div { 
    	width: 40px;
    	height: 40px;
    	float: left;
    	border: 1px solid black;
    }
