.game_space {
	display: inline;
	width: 600px;
	height: 1100px;
}
.field {
	float: left;
}
.player_field, .computer_field {
	width: 423px;
	height: 423px;
	float: left;
	margin: 10px;
	border: 2px dashed red;
}
.ships-line {
	color: grey;
	margin: 10px;
	line-height: 5px;
	letter-spacing: 10px;
}
.player_field .ship {
	background: url(../images/ship.png) no-repeat center center;
	background-size: contain;
}
.computer_field .ship, .water {
	background: #eee;
}
.dead {
	background: url(../images/fire.gif) no-repeat center center;
	background-size: contain;
}
.injured {

}
.missed {
	background: url(../images/missed.jpg) no-repeat center center;
	background-size: contain;
}
.player_field div, .computer_field div { 
    	width: 40px;
    	height: 40px;
    	float: left;
    	border: 1px solid black;
    }
